/*==============================================================================
generic styling
===============================================================================*/
body{
  background-image: url("../images/background2.jpg");
  background-size: cover;
}
button{
  background-image: url("../images/button-background.jpg");
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
#navbar{
  height: 50px;
  margin: 3% 0;
  widows: 100%;
  background-color: rgb(255, 250, 244);
}
.displayNone{
  display: none;
}
.display{
  display:inline-block;
}

/*stuff for dropdown buttons===================================================*/
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
/*=============================================================================*/
/*==============================================================================
navbar
===============================================================================*/
#logo{

}
/*==============================================================================
style for entry of page
===============================================================================*/
#homeSection{

}

/*==============================================================================
style for questionnaire
===============================================================================*/
#questionSection{

}

/*==============================================================================
style for post-submission
===============================================================================*/
#submissionSection{
}
