/*==============================================================================
generic styling
===============================================================================*/
body{
  background-color: rgb(249, 197, 124);
}
#navbar{
  height: 50px;
  margin: 3% 0;
  widows: 100%;
  background-color: rgb(255, 250, 244);
}
.displayNone{
  display: none;
}
.display{
  display:inline-block;
}

/*==============================================================================
navbar
===============================================================================*/
#logo{

}
/*==============================================================================
style for entry of page
===============================================================================*/
#homeSection{

}

/*==============================================================================
style for questionnaire
===============================================================================*/
#questionSection{

}

/*==============================================================================
style for post-submission
===============================================================================*/
#submissionSection{
}
