/*==============================================================================
generic styling
===============================================================================*/
html {
  overflow-y: scroll;
}
body{
  background-image: url("../images/background.jpg");
  background-size: cover;
}
button{
  background-image: url("../images/button-background.jpg");
  margin: 15px 20px 0 0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
#navbar{
  font-family: "Times Body Copy", Times, serif;
  color: white;
  font-size: 30px;
  padding: 5px 0 10px 20px;
  height: 60px;
  margin: 3% 0;
  widows: 100%;
  background-color: rgb(193, 89, 0);
  border-top: 3px solid rgb(255, 145, 53);
  border-bottom: 3px solid rgb(136, 62, 0);
}

#logo{
  height: 37px;
  display: inline;
}
#header{
  display: inline;
  margin: 10px 0 0 20px;
}
.home-question{
  margin: auto;
  font-family: "Helvetica", Times, serif;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px black;
}
.displayNone{
  display: none;
}
.display{
  display:inline-block;
}
.zero{
  width:0;
  height:0;
}
#content-box{
  padding: 20px 40px 40px 40px;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  width: 650px;
  border-radius: 4px;
  border: 1px solid rgb(200,200,200);
  min-height: 200px;
}
.button-box{
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*stuff for dropdown buttons===================================================*/

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.question{
  color: white;
  text-shadow: 1px 1px black;
}

/*==============================================================================
style for post-submission
===============================================================================*/
#submissionSection{
}

#thanks{
  margin: auto;
  margin-top: 50px;
  color: white;
  text-shadow: 4px 4px black;
  font-size: 60px;
  text-align: center;
}
